<a href="https://colab.research.google.com/github/aaguil8a/Tabular-Playground-Series---Oct-2021/blob/main/Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import os
os.environ['KAGGLE_USERNAME'] = 'edwardcitalan'
os.environ['KAGGLE_KEY'] = '11199363355372c734eeca5b28fc8445'
!kaggle competitions download -c tabular-playground-series-oct-2021

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.csv.zip to /content
 96% 423M/438M [00:14<00:00, 23.7MB/s]
100% 438M/438M [00:14<00:00, 30.9MB/s]
Downloading train.csv.zip to /content
 99% 865M/877M [00:28<00:00, 38.1MB/s]
100% 877M/877M [00:28<00:00, 32.6MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/1.12M [00:00<?, ?B/s]
100% 1.12M/1.12M [00:00<00:00, 36.8MB/s]

In [36]:
!unzip /content/train.csv.zip

Archive:  /content/train.csv.zip
  inflating: train.csv

In [37]:
import pandas as pd

In [40]:
filename = '/content/train.csv'

df = pd.read_csv(filename)

In [42]:
df.head()

   id        f0        f1        f2        f3  ...  f281  f282  f283  f284  target
0   0  0.205979  0.410993  0.176775  0.223581  ...     0     0     0     0       1
1   1  0.181004  0.473119  0.011734  0.213657  ...     0     0     0     0       1
2   2  0.182583  0.307431  0.325950  0.207116  ...     0     0     0     0       1
3   3  0.180240  0.494592  0.008367  0.223580  ...     0     0     0     0       1
4   4  0.177172  0.495513  0.014263  0.548819  ...     0     0     1     0       1

[5 rows x 287 columns]

id        0
f0        0
f1        0
f2        0
f3        0
         ..
f281      0
f282      0
f283      0
f284      0
target    0
Length: 287, dtype: int64

In [ ]:
# 1) The data is from Kaggle
# 2) The data is "The data is synthetically generated by a GAN that was trained on real-world molecular response data (Kaggle)."
# 3) The target is ".. will be predicting a binary target based on a number of feature columns given in the data (Kaggle)."
# 4) The program is Classification
# 5) There are 287 features
# 6) There are '1000000' rows
# 7) There are alot of features: will have to check which are signal from noise.

1    500485
0    499515
Name: target, dtype: int64